@import '../../components/variables.css';
.root {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  margin: 0 auto;
  padding: 60px 0px;
  max-width: 500px;
}
@media screen and (max-width: 1200px) {
  .root {
    padding-top: 80px;
  }
}