@import '../../variables.css';

.btnBig {
	padding: 13px 21px !important;
	width: 100%;
}

.pwdImage {
	position: absolute;
	top: 49px;
	right: 20px;
	cursor: pointer;
}

.root {
	border: 1px solid var(--border-color) !important;
	padding: 30px;
	border-radius: 14px;
}

.titleText {
	font-size: 22px;
	font-weight: 600;
	margin: 0px 0px 22px;
}